@{
  Layout = "_Layout";
}

@using PokedexClient.Models;
@model PokedexClient.Models.PokeType

<h1>@Html.DisplayFor(model => model.PokeTypeName) Type</h1>

<hr/>

@if(@Model.Pokemon.Count == 0)
{
  <p>There are no Pokémon associated with this Pokémon type!</p>
}
else
{
  <h3>Pokémon of this type:</h3>
  <ul>
    @foreach (Pokemon pokemon in @Model.Pokemon)
    {
      <li>@Html.ActionLink($"{pokemon.Species}", "Details", "Pokemon", new {id = @pokemon.PokemonId})</li>
    }
  </ul>
}