@{
  Layout = "_Layout";
}

@using PokedexClient.Models;
@model List<PokedexClient.Models.PokeType>;

<h1>All Pokémon Types</h1>
<hr/>
@if(@Model.Count == 0)
{
  <h3>No Pokémon Types have been added yet!</h3>
}
@foreach(PokeType pokeType in Model)
{
  <li>@Html.ActionLink($"{pokeType.PokeTypeName}", "Details", new { id = pokeType.PokeTypeId })</li>
}