body {
  background-image: url("https://images.alphacoders.com/761/761506.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* .scroll {
  max-height: 100px;
  overflow-y: scroll;
} */
.nav {
  /* background-color: rgba(245, 245, 245, 0.75); */
  padding: 0;
  font-family: 'Yeseva One', cursive;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75)
}
.card {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  background-color: rgba(245, 245, 245, 0.75);
  border-radius: 10px;
  max-height: 100px;
  overflow-y: scroll;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /* background: rgba(245, 245, 245, 0.55); */
  padding: 0.1px;
  text-align: center;
  color: whitesmoke;
}

h1  {
  font-family: 'Slackey', cursive;
  color: rgb(218, 0, 0);
  text-shadow: 0px 1px 2px rgb(0, 0, 0)
}
li  {
  color: black;
}

