@{
  Layout = "_Splashpage";
}
<div class="row">
  <div class="col-sm-4">
    <div>
    <br><br><br><br>
    <h1 id="homePage">Pokédex</h1>
    <div>
  </div>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
  </div>
</div>