@{
  Layout = "_Layout";
}

<div class="homePage">
<h1>Pokédex</h1><br>
<hr>
<img id="splash" src="https://miro.medium.com/max/3840/1*bDWDIJlos-ROq31c55uRcA.jpeg" alt="Ash&Pikachu" width="615" height="400">
</div>